body
{	user-select:none;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	max-width: 60em;
	height:0 auto;
	margin:0 auto;
	
	/*background-image: url("comp.jpg");*/
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat; 
	color: #38362E;
}

.bkg
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	left:0;
	top: 0;
	filter: brightness(100%);
}

header
{
	text-align: center;
	
}



img
{
	position: relative;
	
}


aside.r
{
	float: right;
	padding: 1em;
	border:5px solid;
}
	


aside.l 
{
	padding: 1em;
	float:left;
	border:5px solid;
}
div
{
	text-align: center;
}

.t
{
	font-family: 'Bungee Inline', cursive;
	font-size: 80px;
	position:relative;
	margin:0;
	 
}
.y
{
	font-family: 'Bungee Inline', cursive;
	font-size: 30px;
	position:relative;
	 
}




.undir
{
	opacity: 0;
	height:0px; width:0px;

}


.grima 
{
animation-name: grima;


animation-duration:2s;


animation-fill-mode: forwards;
}
@keyframes grima 
{	0%{  position:absolute; height:300px;width:800px;opacity:1;}
	
	 10%{  position:absolute;left:auto; top:auto;height:100px;width:200px; opacity:1;}
	 15%{ position:absolute;left:50%; top:1%;height:100px;width:200px; opacity:1;}
   
    
    100%{  position:absolute;left:1%; top:1%;height:100px;width:200px;opacity:1;  }
}


.grima2
{
animation-name: grima2;
height:100px;width:200px;
opacity: 0;


animation-duration:1s;


animation-fill-mode: forwards;
}
@keyframes grima 2
{
	 0%{ height:0px;width:0px; opacity:0;}
	 20%{ height:100px;width:200px; opacity:0;}
	 30%{ height:100px;width:200px; opacity:0;}
   
    99%{  height:100px;width:200px; opacity:0;  }
    100%{  height:100px;width:200px; opacity:0;  }
}





.bak 
{

	animation-name: bak;
	height:0px; width:0px;
	opacity:0;
	position: absolute;


	animation-duration:1.3s;


	animation-fill-mode: forwards;
}
@keyframes bak
{
	 
   	
    30%{ background-color: grey;
		border:solid grey;
		border-radius: 5px;height:5px; width:5px; opacity:0.5;
		}
	50%{ background-color: grey;
			border:solid grey;
			border-radius: 5px;height:800px; width:1000px; opacity:0.5; 
		}
    100%{ background-color: grey;
			border:solid grey;
			border-radius: 5px;height:800px; width:1000px; opacity:0.5; 
		}
}
.burt
{

	animation-name: burt;
	position :absolute;
	
	

	animation-duration:3s;


	animation-fill-mode: forwards;
}
@keyframes burt
{
	 99%{ opacity:1;}
   
    99%{  opacity:1;}
    100%{ opacity:1; }
}







.ona1
{
	padding: 5px;
	position: absolute;
	height:0px; width:0px;
	opacity: 0;
	
}

.ona
{
	padding: 5px;
	position: absolute;
	height:0px; width:0px;
	opacity: 0;
	animation-name: ona;

	animation-duration:1.3s;


	animation-fill-mode: forwards;
}
@keyframes ona
{
	 
   	80%{ height:5px; width:5px; opacity:0;position: absolute;}
    
    100%{ 
			border-radius: 5px;height:800px; width:1000px; opacity:1; position: absolute;
		}
}


.up 
{
	font-family: 'Bungee Inline', cursive;
	font-size: 80px;
	position:relative;
	animation-name: up;
	animation-duration:1s;
	animation-fill-mode: forwards;
}
@keyframes up
{
	 1%{ opacity:0; }
   
    
    100%{ opacity:0; }
}

.down 
{
	font-family: 'Bungee Inline', cursive;
	font-size: 80px;
	position:relative;
	 
	animation-name: down;
	animation-duration:1s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

@keyframes down 
{
	
    
    1%{ opacity: 0; }
    100%{ opacity: 0; }
}

.spurn
{
	animation-name: spurning;
	animation-duration:2s;

	animation-fill-mode: forwards;
}

@keyframes spurning 
{	
	2%{ position:absolute;right:auto; bottom:auto;right:50%; bottom:0%; }
	5%{  }
    50%{ }
    60%{ }
    90%{ }
    100%{ position:absolute;  right:8%; bottom:20%; height:50px;width:80px; opacity:1; }
}



.t1
{
	animation-name: t1;
	animation-duration:5s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t1 
{	
	20%{font-size: 0px;}
	30%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
    100%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
}



.t2
{
	animation-name: t2;
	animation-duration:4.5s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t2 
{	
	30%{font-size: 0px;}
	40%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
    100%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
}



.t3
{
	animation-name: t3;
	animation-duration:4s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t3 
{	
	40%{font-size: 0px;}
	50%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
    100%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
}


.t4
{
	animation-name: t4;
	animation-duration:3.5s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t4
{	
	50%{font-size: 0px;}
	60%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
    100%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
}


.t5
{
	animation-name: t5;
	animation-duration:3.5s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t5 
{	
	60%{font-size: 0px;}
	70%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
    100%{ font-family: 'Bungee Inline', cursive;
	font-size: 30px;}
}



.skra 
{
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	opacity: 0;
	animation-name: skra;
	animation-duration:3s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

@keyframes skra 
{
	
    
    80%{ left:-500px;opacity: 0; }
    91%{ font-size: 30px;opacity: 1; }
    100%{ font-size: 30px;left:5px;opacity: 1; }
}





.bak3
{
	position: absolute;
	background-color: grey;
	border-radius: 5px;height:800px; width:1000px; opacity:0.5;
}




.ona2
{

	position: relative;
	border-radius: 5px;height:800px; width:1000;opacity:1;
	padding:5px;
	
	
}





.t13
{
	animation-name: t13;
	animation-duration:4s;
	animation-fill-mode: forwards;
	position:relative;
	font-family: 'Bungee Inline', cursive;font-size: 25px;
	opacity: 1;



	
}

@keyframes t13
{	
	0%{font-family: 'Bungee Inline', cursive;font-size: 25px;}
	9%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:1;}
	10%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	
	31%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	32%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}
    100%{font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}
}

.t23
{
	animation-name: t23;
	animation-duration:4s;
	
	font-family: 'Bungee Inline', cursive;font-size: 25px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t23
{	
	1%{font-family: 'Bungee Inline', cursive;font-size: 25px;}
	12%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:1;}
	16%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	31%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	32%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}
    100%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}

 }



.t33
{
	animation-name: t33;
	animation-duration:4s;
	font-family: 'Bungee Inline', cursive;font-size: 25px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t33 
{	
	1%{font-family: 'Bungee Inline', cursive;font-size: 25px;}
	15%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:1;}
	21%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	31%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	32%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}
    100%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}
    }


.t43
{
	animation-name:t43;
	animation-duration:4s;
	font-family: 'Bungee Inline', cursive;font-size: 25px;
	position:relative;
	 

	animation-fill-mode: forwards;
}

@keyframes t43
{	
	10%{font-family: 'Bungee Inline', cursive;font-size: 25px;}
	20%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:1;}
	25%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	31%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	32%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}
    100%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}

}
.t53
{
	animation-name:t53;
	animation-duration:4s;
	font-family: 'Bungee Inline', cursive;font-size: 25px;
	position:relative;
	animation-fill-mode: forwards;
}

@keyframes t53 
{	
	
    10%{font-family: 'Bungee Inline', cursive;font-size: 25px;}
	22%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:1;}
	25%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	31%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
	32%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}

    100%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;}
}



.skra3
{
	font-family: 'Bungee Inline', cursive;
	
	position:relative;
	font-size: 30px;left:5px;opacity: 1; 
	animation-name:skra3;
	animation-duration:4s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

@keyframes skra3 
{
	
    1%{font-family: 'Bungee Inline', cursive;font-size: 25px;}
    24%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;}
    26%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0; position: absolute; left:-300px;}
	32%{ font-family: 'Bungee Inline', cursive;font-size: 0px;opacity:0;position: absolute; left:-300px;}
    100%{ font-family: 'Bungee Inline', cursive;font-size: 25px;opacity:0;position: absolute; left:-300px;}
}


.spurn3
{
	animation-name: spurning3;
	animation-duration:3s;
	position:absolute;  right:8%; bottom:20%; height:50px;width:80px; opacity:1;
	animation-fill-mode: forwards;
}

@keyframes spurning3 
{	
	
     1%{position:absolute;  right:8%; bottom:20%; height:50px;width:80px; opacity:1;}
    35%{ position:absolute;  right:8%; bottom:20%; height:50px;width:80px; opacity:1;}
	36%{ position:absolute;  right:8%; bottom:20%; height:50px;width:80px; opacity:0;}
    100%{ position:absolute;  right:8%; bottom:20%; height:50px;width:80px; opacity:0;}
}


.grima3
{
animation-name:grima3;
opacity: 1;
height:100px;width:200px;
animation-duration:2.5s;
position:absolute;

animation-fill-mode: forwards;
}
@keyframes grima3 
{	
    0%{  position:absolute;left:1%; top:1%;height:100px;width:200px;opacity:1;  }
    10%{  position:absolute;left:1%; top:1%;height:100px;width:200px;opacity:1;  }
    100%{  position:absolute;left:1%; top:85%;height:100px;width:200px;opacity:1;  }
}

.grima4
{
animation-name: grima4;
height:100px;width:200px;
opacity: 0;
animation-duration:3s;
animation-fill-mode: forwards;

}
@keyframes grima4 
{	
    0%{  left:1%; top:1%;height:100px;width:200px;opacity:0;  }
    30%{ left:1%; top:1%;height:100px;width:200px;opacity:0;  }
    100%{  left:1%; top:85%;height:0px;width:0px;opacity:0;  }
}


.t12
{
	animation-name: t12;
	animation-duration:5s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	opacity: 0;
	 

	animation-fill-mode: forwards;
}

@keyframes t12 
{	1%{font-size: 0px;}
	20%{font-size: 0px;}
	30%{ font-family: 'Bungee Inline', cursive;font-size: 35px;opacity: 1;}
    100%{ font-family: 'Bungee Inline', cursive;font-size: 35px;opacity: 1;}
}



.t22
{
	animation-name: t22;
	animation-duration:4.5s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	opacity: 0;
	 

	animation-fill-mode: forwards;
}

@keyframes t22 
{	1%{font-size: 0px;}
	30%{font-size: 0px;}
	40%{ font-family: 'Bungee Inline', cursive;font-size: 35px;opacity: 1;}
    100%{ font-family: 'Bungee Inline', cursive;font-size: 35px;opacity: 1;}
}



.t32
{
	animation-name: t32;
	animation-duration:4s;
	font-family: 'Bungee Inline', cursive;
	font-size: 0px;
	position:relative;
	opacity: 0;
	 

	animation-fill-mode: forwards;
}

@keyframes t32 
{	1%{font-size: 0px;}
	40%{font-size: 0px;}
	50%{ font-family: 'Bungee Inline', cursive;font-size: 35px;opacity: 1;}
    100%{ font-family: 'Bungee Inline', cursive;font-size: 35px;opacity: 1;}
}


table {
    
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    font-family: 'Baloo', cursive;
    
}

td, th {
    background-color:#E0E0E0;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Baloo', cursive;
    font-size: 30px;

}

tr:nth-child(even) {
    background-color: #dddddd ;
}

.table
{

	position: absolute;
	height:0px; width:0px;
	opacity: 0;
	animation-name:table ;

	animation-duration:3s;


	animation-fill-mode: forwards;
}
@keyframes table
{
    0%{  position:absolute;right: 1%; bottom:2%;height:100px;width:200px;opacity:0;  }
     
    100%{  position:absolute;right:1%; bottom:3%;height:300px;width:400px;opacity:1;  }
}

.kort
{

	position: absolute;
	height:0px; width:0px;
	opacity: 0;
	animation-name: kort;

	animation-duration:3s;


	animation-fill-mode: forwards;
}
@keyframes kort
{
    0%{  position:absolute;right: 1%; top:2%;height:100px;width:200px;opacity:0;  }
     
    100%{  position:absolute;right:1%; top:2%;height:300px;width:400px;opacity:1;  }
}
