body
{
	display: flex;
	flex-flow: column;
	max-width: 60em;
	height: 70em;
	margin:0 auto;
	
	background-image: url("comp.jpg");
	background-size: cover;
}

header
{
	text-align: center;
	
}



img
{
	position: relative;
	
}


aside.r
{
	float: right;
	padding: 1em;
	border:5px solid;
}
	


aside.l 
{
	padding: 1em;
	float:left;
	border:5px solid;
}


.t
{
	font-family: 'Bungee Inline', cursive;
	font-size: 80px;
	position:relative;
	 
}


.classname {
animation-name: spurning;
animation-duration:3s;
animation-iteration-count: 1;
animation-timing-function: ease;
animation-fill-mode: forwards;
}
@keyframes spurning 
{
	 0%{ opacity: 0; }
    50%{ opacity: 0; }
    60%{ opacity: 1; }
    91%{ opacity: 1; }
    100%{ opacity: 0; }
}
