body
{
	display: flex;
	flex-flow: column;
	max-width: 60em;
	margin:0 auto;
	border-radius: 5px;
	border: solid 3px;
	background-image: url("comp.jpg");
	background-size: cover;
}

header
{
	text-align: center;
	padding: 1em;
}


section
{
	padding: 1em;
	border:5px;
	display: flex;
	flex-flow: row;
	max-width: 300px;
	
}

article 
{
 	padding: 1em;
 	border:5px solid;
}


aside.r
{
	float: right;
	padding: 1em;
	border:5px solid;
}
	


aside.l 
{
	padding: 1em;
	float:left;
	border:5px solid;
}


h1.t
{
	font-family: 'Bungee Inline', cursive;
}




input {
  display: none;
}

label {
  border: 1px solid #cecfd5;
  border-radius: 6px;
 
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
  color: #0087cc;
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .15s ease;
  z-index: 999;
}
label:hover {
  color: #ff7b29;
}
input:checked  ~ .topmenu {
	position: fixed;
	bottom: 2.4em;
	left:0;
	z-index: 990;
	transition: all 1s ease;
}
input:checked + label {
  box-shadow: inset 0 .2em .2em rgba(0, 0, 0, 0.25);
  border: 2px inset;
  color: #9799a7;
}

a {
  color: #0087cc;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
a:hover {
  color: #ff7b29;
}




.topmenu{
position: fixed;
bottom: -15em;
	width: 100%;
  padding: 1px;
  margin: 0;
  list-style: none;
  transition: all .5s ease;
}
.topmenu li{
  border:0;
  border-left: 1px solid line;
  padding: 3px;
}

.topmenu a{
  display: block;
  color:white;
  text-decoration: none;
  padding:8px;
}

.topmenu li:last-child{
		border-right: 1px solid line;
	}



.htexti1 {
	
  	opacity:0;
  	position:relative;
   
    animation-name: htext1;
    animation-duration: 15s;
   
    animation-fill-mode: forwards;
    
    
    

}


@keyframes htext1 
{
    
    5%{opacity:1;}
    70%{opacity:0;}
    
}

.htexti2 
{
	
   	opacity: 0;
   	position: relative;
   	float: right;
   
   	
    animation-name: htext2;
    animation-duration: 15s;
    animation-fill-mode: forwards;

    
    

}


@keyframes htext2 {
    20%{ opacity:0;}
    32%{opacity:0;}
    55%{opacity:1;}
    
    80%{opacity:1;top:1%;}
    
    100%{opacity:1;top:1%;}
}

.htexti3 {
	
  	opacity:0;
  	position:relative;
   
    animation-name: htext3;
    animation-duration: 15s;
    
    animation-fill-mode: forwards;
    
    
    

}


@keyframes htext3 {
    
    0%{}
    17%{opacity:0;}
    18%{opacity:1;}
    25%{opacity: 1;}
    30%{opacity:1;}
    100%{opacity:1;}
}




@media screen and (min-width:48em){

	section{
		display: flex;
		flex-flow: column;
	}

	article{
		order: 2;
		flex: 2 2 1em;
	}
	.haegri {
		order: 3;
		flex: 1 1 0;
	}
	.vinstri {
		order: 1;
		flex: 1 1 0;
	}

	.topmenu{

		
		display: flex;
		flex-flow: row;
		justify-content: center;
		position: relative;
		top:0;
		padding: 1px;
		margin: 0;
		list-style: none;
	}
	label {
		display: none;
	}

}
